<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <style>
      body {
        font-family: sans-serif;
      }
      header {
        text-align: center;
      }
      main {
        font-size: xx-large;
        position: fixed;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      footer {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body>
    <header>
      <h1>{{ page.title }}</h1>
    </header>
    <main>
      <div id="answer"></div>
    </main>
    <footer>
      {% for otherPage in site.pages %}
      {% if otherPage.title and otherPage.title != page.title %}
      <a href="{{ otherPage.url }}">
        {{ otherPage.title }}
      </a>
      {% endif %}
      {% endfor %}
      </ul>
    </footer>
    <script>
      const answer = Boolean(Math.floor(Math.random() * 2));
      document.getElementById("answer").innerText = answer ? "{{ page.heads }}" : "{{ page.tails }}"
    </script>
  </body>
</html>
